NPRG036-T1G3-HW3/3/xml/schemas/schema-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" type="PersonType" minOccurs="3" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="0" />
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="roles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="role" type="RoleType" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="birthYear" type="xs:gYear" />
      <xs:element name="phone" type="xs:anyURI" minOccurs="0" />
      <xs:element name="actsIn" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="movie" type="xs:anyURI" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="directed" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="movie" type="xs:anyURI" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="iri" type="xs:anyURI" use="required" />
  </xs:complexType>

  <xs:simpleType name="RoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Actor" />
      <xs:enumeration value="Director" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>